.customTitle {
    background-color: darkslategray;
    color: silver;
}

.searchBar input[type=text] {
    padding: 6px;
    border: solid;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.fiveDayWeather{
    background-color: deepskyblue;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: white;
}

.uvIndex span {
    background-color: red;
}

.custom {
    background-color: lightgrey;
}
