.customTitle {
    background-color: darkslategray;
    color: silver;
}

.searchBar input[type=text] {
    padding: 6px;
    border: solid;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.container {
    background-color: lightgrey;
}